@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero-section {
    position: relative;
    background-color: #001122;
    background-image: url("../components/Herosection/dark.png");
    min-height: 90vh;
    min-height: 90dvh;
  }
}
