@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}


.shadow-white{
  box-shadow: -8px -8px 16px rgba(255, 255, 255, 0.7), inset 8px 7px 16px rgba(81, 79, 79, 0.25);
}
.shadow-card{
  filter: drop-shadow(-8px 6px 16px rgba(0, 0, 0, 0.25)) drop-shadow(8px 8px 16px #FFFFFF);
}
@layer components {
  .hero-section {
    position: relative;
    background-color: #001122;
    min-height: 90vh;
    min-height: 90dvh;
  }
  /* .register_bg { */
    /* position: relative; */
    /* background-image: url("../components/Register/register.png"); */
    /* min-height: 90vh;
    min-height: 90dvh; */
  /* } */
}
